body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

.main {
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
